.red{
  background-color: rgba(255, 99, 71, 0.9);
  padding: 15px;
  color: white;
  border-radius: 10px;
}
.blue{
  background-color: rgba(65, 105, 225, 0.77);
  padding: 15px;
  color: white;
  border-radius: 10px;
}
.box{
  justify-content: space-around;
  align-items: center;
  margin:auto ;
  
  flex-basis: 300px;
  flex-shrink: 1;
  flex-grow: 1;
  padding: 10px;
  background-color: rgba(210, 180, 140, 0.2);
  border: .3px solid black;
}
.d-flex{
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}









/* ----------------------------------------------- */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
